[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pydantic = {extras = ["email"], version = "*"}
python-dotenv = "*"
cloudinary = "*"
slowapi = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
redis = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
httpx = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
fakeredis = "*"

[dev-packages]

[requires]
python_version = "3.13"
